.mat-card-simples {
  max-width: 300px;
  background-color: rgb(188, 112, 224);
  margin-top: 10px;
}

.mat-form-principal {
  margin-left: 5px;
}

.mat-form-field {
  background-color: whitesmoke;
  margin: 5px;
}

.mat-card-footer {
  margin-left: 10px;
}

.mat-card-title {
  margin-top: 10px;
  margin-left: 10px;
}

body {
  background-color: rgb(204, 196, 238);
}
